{{ define "main" }}
  {{ $PageKey := printf "%s-%s" .LinkTitle .Kind | urlize}}
  <div class="cw">
    <div class="page-title">
      {{ with .Resources.GetMatch "cover.*" }}
        {{ with .Fill "900x300 webp" }}
          <img src="{{ .RelPermalink }}" class="cover" alt="">
        {{ end }}
      {{ end }}
      <div class="bg"></div>
      <h1 style="view-transition-name: pt-{{$PageKey | safeCSS}};">{{ .Title }}</h1>
    </div>
    {{ if not .Params.noDate }}
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
      <div class="content-info">
        <time datetime="{{ $dateMachine }}" style="view-transition-name: pd-{{$PageKey | safeCSS}}">{{ $dateHuman }}</time>
      </div>
    {{end}}
    <div class="content main-content" style="view-transition-name: pc-{{$PageKey | safeCSS}}">
  
      {{ .Content }}
    </div>
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
  </div>
{{ end }}
