{{ define "main" }}
  <h1 class="page-title" style="view-transition-name: page-title-for-{{.LinkTitle}};">{{ .Title }}</h1>

  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <time datetime="{{ $dateMachine }}" style="{{printf "view-transition-name: page-time-for-%s;" .LinkTitle | safeCSS }}">{{ $dateHuman }}</time>
  <div class="content main-content" style="{{printf "view-transition-name: page-content-for-%s;" .LinkTitle | safeCSS }}">

    {{ .Content }}
  </div>
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ end }}
