{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <nav id="{{$menuID}}-menu" style="view-transition-name: nav-{{$menuID | safeCSS}};" class="menu">
    {{ if eq $menuID "main"}}
      <button id="main-menu-close" class="mobile-button" aria-label="Close Main Navigation">{{ partial "icon" "close" }}</button>
    {{ end }}
    <ul>
      {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" . "transitions" (eq $menuID "main")) }}
    </ul>
  </nav>
{{- end }}

{{- define "_partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- $transitions := .transitions}}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- if not .URL }}
      {{- $attrs = merge $attrs (dict "disabled" "active") }}
    {{- end }}

    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    {{- $style := ""}}
    {{if $transitions}}
      {{- $style = printf "view-timeline-name: site-nav-%s;" $name | safeCSS}}
    {{end}}
    <li style="{{$style}}">
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ $name }}</a>
    </li>
  {{- end }}
{{- end }}
