{{- $pages := .pages }}
{{- $transitions := default false .transitions }}

<div class="page-list">
    {{ range $pages }}
        {{- $styleTitle := "" }}
        {{- $styleTime := "" }}
        {{- $styleContent := "" }}
        {{- if $transitions }}
            {{- $styleTitle = printf "view-transition-name: page-title-for-%s;" .LinkTitle | safeCSS }}
            {{- $styleContent = printf "view-transition-name: page-content-for-%s;" .LinkTitle | safeCSS }}
            {{- $styleTime = printf "view-transition-name: page-time-for-%s;" .LinkTitle | safeCSS }}
        {{- end }}
        <a class="page-item" style="{{ $styleContent }}" href="{{ .RelPermalink }}">
            
            {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
            {{ $dateHuman := .Date | time.Format ":date_long" }}
            <time datetime="{{ $dateMachine }}" style="{{ $styleTime }}">{{ $dateHuman }}</time>

            <h2 style="{{ $styleTitle }}" class="title">
                {{ .LinkTitle }}
            </h2>

            <p class="content">
                {{ .Description }}
            </p>
        </a>
    {{ end }}
</div>
