.page-list {
    display: flex;
    flex-direction: column;
    gap: var(--size-2);
    padding: var(--size-3);
    .page-item {
        border: var(--color-primary-700) 1px solid;
        padding: var(--size-2);
        color: var(--color-primary-100);
        text-decoration: none;
        transition: var(--transition-standard);
        .head {
            display: flex;
            align-items: start;
            time {
                margin: 0;
                font-family: var(--font-family-mono);
                font-size: var(--size-3);
            }
            .title {
                flex-grow: 1;
                font-family: var(--font-family-title);
                font-weight: var(--font-weight-light);
                font-size: var(--size-6);
                margin: 0;
            }
        }
        .content {
            font-family: var(--font-family-normal);
            margin: 0;
        }
        &:hover {
            background-color: var(--color-primary-700);
            color: var(--color-primary-100);
        }
    }
}