$theme-colors: (
    "pry": (
        "100":hsl(102, 100%, 90%),
        "200":hsl(102, 90%, 80%),
        "300":hsl(102, 80%, 70%),
        "400":hsl(102, 100%, 90%),
        "950": hsl(44.637, 21%, 5%),
    )
);


$theme-fonts: (
    "family": (
        "normal": "system-ui, sans-serif",
        "title": "Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif",
    ),
    "weight": (
        "light": "100",
        "normal": "normal",
        "bold": "bold"
    )
);


$theme-sizes: (
    0.25,0.5,0.75,
    1,1.5, 2,
    3,4,6
    8
);




/* GENERATOR */
html {
    @each $varname, $colors in $theme-colors {
        @each $name, $value in $colors {
            --color-#{$varname}-#{$name}: #{$value};
        }
    }
    
    @each $varname, $data in $theme-fonts {
        @each $name, $value in $data {
            --font-#{$varname}-#{$name}: #{$value};
        }
    }

    @for $i from 1 through length($theme-sizes) {
        $val: nth($theme-sizes, $i);
        --size-#{$i}: #{$val}rem;
    }
}