@use "sass:map";
@import "vars";
@import "content";
@import "nav";
@import "pagelist";
@import "footer";


body {
  background-color: var(--color-primary-950);
  color: var(--color-primary-100);
  font-family: var(--font-family-normal);
  margin: 0;
}

main {
  min-height: 100svh;
}


.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50rem;
  max-height: 80svh;
  gap: var(--size-3);
  position: relative;
  animation: hero-in 400ms ease-out;
  view-transition-name: page-hero;
  
  background:
    linear-gradient(to left, var(--color-primary-950) 0, transparent 1rem),
    linear-gradient(to right, var(--color-primary-950) 0, transparent 1rem),

    linear-gradient(to top, var(--color-primary-950) 0, transparent 5rem),
    linear-gradient(to bottom, var(--color-primary-950) 0, transparent 5rem),
    
    radial-gradient(circle at var(--g1-x,50%)  var(--g1-y,0%), var(--color-primary-700) 0,transparent 5rem),
    radial-gradient(circle at var(--g2-x,50%)  var(--g2-y,0%), var(--color-primary-700) ,transparent 5rem),
    
    repeating-radial-gradient(circle at var(--g1-x,50%)  var(--g1-y,0%), transparent 0px,var(--color-primary-700) 1px,transparent 2px,transparent 5rem),
    repeating-radial-gradient(circle at  var(--g2-x,50%)  var(--g2-y,100%), transparent 0px,var(--color-primary-700) 1px,transparent 2px,transparent 5rem)
  ;

  .logo {
    z-index: 1;
    width: var(--size-10);
    height: var(--size-10);
    filter: drop-shadow(var(--color-primary-700) 0 0 20px);
  }
  h1 {
    z-index: 1;
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-light);
  }
}


.page-title {



  h1 {
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-light);
    font-size: var(--size-7);
    position: absolute;
    bottom: var(--size-2);
    left: var(--size-3);
    right: var(--size-3);
    margin: 0;
    z-index: 2;
  }
  padding-inline: var(--size-3);
  margin-block: var(--size-5) var(--size-3);
  position: relative;
  height: 15rem;
  view-transition-name: page-hero;
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:
      linear-gradient(to left, var(--color-primary-950) 20%, transparent 50%),
      linear-gradient(to right, var(--color-primary-950) 0, transparent 0.2rem),

      linear-gradient(to top, var(--color-primary-950) 0, transparent 25%),
      linear-gradient(to bottom, var(--color-primary-950) 0, transparent 50%),
      repeating-radial-gradient(circle at 0% 100%, transparent 0px,var(--color-primary-700) 1px,transparent 2px,transparent 4rem),
    ;
  }
  overflow: hidden;
  .cover {
    z-index: 0;
    display: block;

    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
    filter: saturate(0) blur(2px);
  }
}

.main-content {
  view-transition-name: main-content;
}

@view-transition {
  navigation: auto;
}

@keyframes hero-in {
  from {
    opacity: 0;
  }
}
